<div class='search_menu_list'>
    <div class="search-menu-item" data-index="1">
        <span class="mobile-search-menu-title" data-title-index='1'>
          Categories
            <span class="open-list" data-open="1">
                 <svg xmlns="http://www.w3.org/2000/svg" width="9.006" height="9.291" viewBox="0 0 9.006 9.291">
                  <path id="패스_228" data-name="패스 228" d="M0,0H-3.8V-3.952H-5.187V0H-9.006V1.349h3.819v3.99H-3.8V1.349H0Z" transform="translate(9.006 3.952)" fill="#2b2e34"/>
                </svg>
            </span>
            <span class="close-list hide" data-close="1">
                <svg xmlns="http://www.w3.org/2000/svg" width="8.303" height="1.387" viewBox="0 0 8.303 1.387">
                  <path id="패스_219" data-name="패스 219" d="M397.519-676.157h8.3v-1.387h-8.3Z" transform="translate(-397.519 677.544)" fill="#2b2e34"/>
                </svg>
            </span>
        </span>
        <div class="search-menu-item-list hide" data-status="close" data-list-index="1">
            <!-- Content -->
        </div>
    </div>
    <div class="search-menu-item" data-index="2">
        <span class="mobile-search-menu-title" data-title-index='2'>
          Keywords
            <span class="open-list" data-open="2">
                 <svg xmlns="http://www.w3.org/2000/svg" width="9.006" height="9.291" viewBox="0 0 9.006 9.291">
                  <path id="패스_228" data-name="패스 228" d="M0,0H-3.8V-3.952H-5.187V0H-9.006V1.349h3.819v3.99H-3.8V1.349H0Z" transform="translate(9.006 3.952)" fill="#2b2e34"/>
                </svg>
            </span>
            <span class="close-list hide" data-close="2">
                <svg xmlns="http://www.w3.org/2000/svg" width="8.303" height="1.387" viewBox="0 0 8.303 1.387">
                  <path id="패스_219" data-name="패스 219" d="M397.519-676.157h8.3v-1.387h-8.3Z" transform="translate(-397.519 677.544)" fill="#2b2e34"/>
                </svg>
            </span>
        </span>
        <div class="search-menu-item-list hide" data-status="close" data-list-index="2">
            <!-- Content -->
        </div>
    </div>
    <div class="search-menu-item" data-index="3">
        <span class="mobile-search-menu-title" data-title-index='3'>
          Publishers
            <span class="open-list" data-open="3">
                 <svg xmlns="http://www.w3.org/2000/svg" width="9.006" height="9.291" viewBox="0 0 9.006 9.291">
                  <path id="패스_228" data-name="패스 228" d="M0,0H-3.8V-3.952H-5.187V0H-9.006V1.349h3.819v3.99H-3.8V1.349H0Z" transform="translate(9.006 3.952)" fill="#2b2e34"/>
                </svg>
            </span>
            <span class="close-list hide" data-close="3">
                <svg xmlns="http://www.w3.org/2000/svg" width="8.303" height="1.387" viewBox="0 0 8.303 1.387">
                  <path id="패스_219" data-name="패스 219" d="M397.519-676.157h8.3v-1.387h-8.3Z" transform="translate(-397.519 677.544)" fill="#2b2e34"/>
                </svg>
            </span>
        </span>
        <div class="search-menu-item-list hide" data-status="close" data-list-index="3">
            <!-- Content -->
        </div>
    </div>
</div>

<script>
let mobileSearchMenuTitles = document.querySelectorAll('.mobile-search-menu-title');
let searchMenuItems = document.querySelectorAll('.search-menu-item-list');

mobileSearchMenuTitles.forEach((title) => {
    title.addEventListener('click', () => {
        let dataIndex = title.getAttribute('data-title-index');
        let searchMenuList = document.querySelector(`[data-list-index="${dataIndex}"]`);
        let isOpen = searchMenuList.getAttribute('data-status') === 'open';

        searchMenuItems.forEach((menuItem) => {
            menuItem.setAttribute('data-status', 'close');
            menuItem.classList.add('hide');
        });

        if (isOpen) {
            searchMenuList.setAttribute('data-status', 'close');
            searchMenuList.classList.add('hide');
        } else {
            searchMenuList.setAttribute('data-status', 'open');
            searchMenuList.classList.remove('hide');
        }

        let openButton = title.querySelector('.open-list');
        let closeButton = title.querySelector('.close-list');

        if (isOpen) {
            openButton.classList.remove('hide');
            closeButton.classList.add('hide');
        } else {
            openButton.classList.add('hide');
            closeButton.classList.remove('hide');
        }
    });
});
</script>
