.search-modal{
  position:fixed;
  top: 0;
  left:0;
  width:100%;
  height: 100%; 
  background-color: #FFFF00;
  padding: 10px;
}

.search__input{
  background: transparent;
  padding: 7px 0 !important;
  border:none;
  width: 100%;
  border-radius:none;
  border-bottom: 1px solid #000;
}


.search__input.field__input {
  padding-right: 5rem;
}

.search__button {
  right: var(--inputs-border-width);
  top: var(--inputs-border-width);
}

.search__button:focus-visible {
  background-color: rgb(var(--color-background));
  z-index: 2;
}

.search__button:focus {
  background-color: rgb(var(--color-background));
  z-index: 2;
}

.search__button:not(:focus-visible):not(.focused){
  box-shadow: inherit;
  background-color: inherit;
}

.search__button .icon {
  height: 1.8rem;
  width: 1.8rem;
}

/* Remove extra spacing for search inputs in Safari */
input::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* input 스타일 */
input placeholder{
  color: #959595;
}

input[aria-invalid="true"] placeholder{
  color: #ff0000;
}
select:focus,
select:hover,
select:active,
input:focus,
input:hover,
input:active {
  outline: none !important;
  box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color : transparent !important; 
	-webkit-text-fill-color: #fff;
     box-shadow: 0 0 0 0 rgb(var(--color-background)) inset !important;
    -webkit-box-shadow: 0 0 0 0 rgb(var(--color-background)) inset !important;
    transition: background-color 5000s ease-in-out 0s;
    font-size : 22px;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
    background-color : transparent !important; 
	-webkit-text-fill-color: #fff;
    box-shadow: 0 0 0 0 rgb(var(--color-background)) inset !important;
    -webkit-box-shadow: 0 0 0 0 rgb(var(--color-background)) inset !important;
    transition: background-color 5000s ease-in-out 0s;
    font-size : 22px;
}

@media screen and (max-width: 1024px) {
  input:autofill,
  input:autofill:hover,
  input:autofill:focus,
  input:autofill:active {
    font-size : 19px;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    font-size : 19px;
  }
}
