input {
   -webkit-appearance: none;
   -webkit-border-radius: 0;
}

.search-modal *{
  color: #000 !important;
}

.search-modal,
.overflow-hidden .snize-ac-results-mobile {
  position:fixed;
  top: 0;
  left:0;
  width:100%;
  height: 100%; 
  background-color: #FFFF00 !important;
  padding: 0 10px;
}

.search__input,
.snize-ac-results.snize-ac-results-mobile .snize-mobile-top-panel input.snize-mobile-input-style {
  background: transparent;
  padding: 5px 0 3px 0 !important;
  border:none;
  width: 100%;
  border-bottom: 1.5px solid #000;
  color: #000 !important;
}

.field__label{
  color: #000;
}
.search__button {
  right: var(--inputs-border-width);
  top: var(--inputs-border-width);
}

.search__button:focus-visible {
  background-color: rgb(var(--color-background));
  z-index: 2;
}

.search__button:focus {
  background-color: rgb(var(--color-background));
  z-index: 2;
}

.search__button:not(:focus-visible):not(.focused){
  box-shadow: inherit;
  background-color: inherit;
}

.search__button .icon {
  height: 1.8rem;
  width: 1.8rem;
}

/* Remove extra spacing for search inputs in Safari */
input::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* input 스타일 */
input placeholder{
  color: #2B2E34;
}

input[aria-invalid="true"] placeholder{
  color: #ff0000;
}
select:focus,
select:hover,
select:active,
input:focus,
input:hover,
input:active {
  outline: none !important;
  box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color : transparent !important; 
	-webkit-text-fill-color: #fff;
     box-shadow: 0 0 0 0 rgb(var(--color-background)) inset !important;
    -webkit-box-shadow: 0 0 0 0 rgb(var(--color-background)) inset !important;
    transition: background-color 5000s ease-in-out 0s;
    font-size : 22px;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
    background-color : transparent !important; 
	-webkit-text-fill-color: #s;
    box-shadow: 0 0 0 0 rgb(var(--color-background)) inset !important;
    -webkit-box-shadow: 0 0 0 0 rgb(var(--color-background)) inset !important;
    transition: background-color 5000s ease-in-out 0s;
    font-size : 22px;
}
input::-ms-clear,
input::-ms-reveal{
	display:none;width:0;height:0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}
@media screen and (max-width: 1024px) {
  input:autofill,
  input:autofill:hover,
  input:autofill:focus,
  input:autofill:active {
    font-size : 19px;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    font-size : 19px;
  }
}

/* 서치모달 */
.snize-ac-results-content{
  position: fixed;
  display: block !important;
  width: 100%;
  height: calc(100% - 60px);
  top: 40px;
  left:0;
  padding: 0 10px;
  background: transparent;
  box-shadow: none;
}

.snize-ac-results-list{
  width: 100%;
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

@media screen and (max-width: 1024px) {
  .snize-ac-results-list{
    grid-template-columns: repeat(2, 1fr);
  }
  .snize-ac-results-content {
    padding: 0 7px;
  }
}

.snize-ac-results-list li.snize-product {
  padding: 0;
}
.snize-ac-results-list li.snize-product .snize-item{
  display: grid;
  grid-template-rows: 1fr; 
  align-items: stretch;
  flex-direction: column;
}
.snize-ac-results .snize-thumbnail{
  max-height : none;
  max-width: none;
  width: 100%;
  display: flex;
  align-items: flex-end;
  aspect-ratio: 4/5;
}


.snize-ac-results-list li:hover,
.snize-ac-results-list li:focus,
.snize-ac-results-list li:active{
  background: transparent;
}
  
.snize-ac-results .snize-product-info{
  margin :0;
  font-size:inherit;
  line-height: inherit;
  font-weight: inherit;
  grid-row: 2; 
  
}
.snize-ac-results .snize-product-info .snize-title{
  display: block;
  overflow: hidden; 
  display: -webkit-box; 
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; 
  text-overflow: ellipsis; 
  font-size: inherit;
  line-height: inherit;
  padding-top: 3px;
}
  
.snize-ac-results .snize-item-image{
  width: 100%;
  height: auto;
  max-height: none;
  max-width: none;
}
.snize-product-info .snize-description,
.snize-product-info .snize-ac-prices-container,
.snize-product-info .snize-labels-wrapper{
  display:none;
}
.snize-ac-results-list li.snize-label, .snize-ac-results-list li.snize-separator{
  display:none;
}

.snize-ac-results .snize-item-image {
  display: grid;
  align-items: end;
  grid-row: 1; 
}

.snize-instant-widget-is-open [tabindex="-1"]{
  display: block !important;
}

.snize-popular-suggestions-view-all-products-text{
  display: none !important;
}
.snize-ac-results .snize-nothing-found{
  padding: 0;
}
.snize-ac-results .snize-nothing-found-text{
  padding: 0;
  font-size:inherit;
}

.search_menu_list{
  position:absolute;
  top: 35px;
  left: 0px;
  height: calc(100% - 40px);
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}


.search_menu_list > div .mobile-search-menu-title{
  position:relative;
  display: block;
  border-bottom: 1.5px solid #000;
  margin:0 0 3px 0;
  padding: 3px 0 3px 0;
}

.search_menu_list > div .mobile-search-menu-title .open-list,
.search_menu_list > div .mobile-search-menu-title .close-list{
  display: none;
}
.search-modal__content{
  overflow: auto;
}

@media screen and (max-width: 1024px){
  .search-modal__close-button{
    width:30px;
    right:0;
  }
  .search-modal__close-button svg{
    width: 8px;
    height: 8px;
  }
  .search_menu_list{
    top: 34px;
    height: calc(100% - 34px);
  }
  .search_menu_list > div .mobile-search-menu-title{
    padding: 4px 0 4px 0;
    margin: 0;
    border-bottom: none;
  }
  .search-menu-item{
    border-bottom: 1.5px solid #000;
  }
  .search-menu-item-list{
    display: none;
    padding-bottom: 3px;
  }
  .search-menu-item-list[data-status='close']{
    overflow: hidden;
    height: 0;
  }
  .search-menu-item-list[data-status='open']{

  }
  .search_menu_list > div .mobile-search-menu-title .open-list,
  .search_menu_list > div .mobile-search-menu-title .close-list{
    display:block;
    position: absolute;
    right:0;
    width:10px;
    height:10px;
  }
  .search_menu_list > div .mobile-search-menu-title .open-list{
    top: 3px;
  }
  .search_menu_list > div .mobile-search-menu-title .close-list{
    top: -1px;
  }
  .search_menu_list > div .mobile-search-menu-title .open-list.hide,
  .search_menu_list > div .mobile-search-menu-title .close-list.hide{
    display:none;
  }
  .search-modal, .overflow-hidden .snize-ac-results-mobile {
    padding: 0 7px;
    transition: top 0.4s ease;
  }
  .snize-ac-results.snize-ac-results-mobile .snize-product {
    padding-right: 0px !important;
  }
  .snize-ac-results-list {
    gap: 16px 10px;
  }
  .snize-ac-results.snize-ac-results-mobile .snize-mobile-top-panel {
    margin-bottom: 3px;
  }
}

  
.search_menu_list > div ul,
.search_menu_list > div ul li{
  list-style:none;
  padding: 0;
  margin: 0;
}
body.snize-instant-widget-is-open .snize-ac-results-content{
  display: none !important;
}
body.overflow-hidden.snize-instant-widget-is-open .snize-ac-results-content{
  padding-top: 3px;
  margin-top: -5px;
  display: block !important;  
}
  
body.overflow-hidden.snize-instant-widget-is-open .search_menu_list{
  display: none !important;
}
body.overflow-hidden .search_menu_list{
  display: grid !important;
}
@media screen and (max-width: 1024px){
    body.overflow-hidden .search_menu_list{
    display: block !important;
  }
}
.predictive-search.predictive-search--header {
  display:none !important;
}
.predictive-search__loading-state{
  display: none !important;
}
.predictive-search-status{
  display: none !important;
}
.snize-ac-results.snize-ac-results-mobile .snize-mobile-top-panel{
  background-color : transparent !important;
  height: auto !important;
  border: none !important;
  display: block !important;
  margin-bottom : 8px;
}
.snize-ac-results.snize-ac-results-mobile .snize-mobile-top-panel.se-sticky-search-form-focused {
  outline: none !important;
}
.snize-ac-results.snize-ac-results-mobile .snize-mobile-top-panel .snize-search{
  display: block;
  background-color: transparent;
}
.snize-ac-results.snize-ac-results-mobile .snize-mobile-top-panel .snize-clear-button-container{
  display : none;
}
.snize-ac-results.snize-ac-results-mobile .snize-mobile-top-panel button.snize-close-button-arrow{
  z-index: 10;
  background-image: url('https://cdn.shopify.com/s/files/1/0702/4522/0637/files/search_close.svg?v=1686387638');
  width: 1rem;
  position: absolute;
  right: -1px;
  height: 1rem;
  top: 10px;
  background-size : 0.8rem 0.8rem; 
}
.snize-ac-results.snize-ac-results-mobile .snize-ac-results-content{
  padding: 0;
}
.search__input, .snize-ac-results.snize-ac-results-mobile .snize-mobile-top-panel input.snize-mobile-input-style{
  margin: 0;
  font-size: 22px;
  line-height: 28px; 
}
.snize-ac-results.snize-ac-results-mobile .snize-nothing-found span, .snize-ac-results.snize-ac-results-mobile .snize-noresults-html span {
  margin: 0;
}
.snize-ac-results.snize-ac-results-mobile .snize-nothing-found-text{
  padding:0;
}
.snize-nothing-found-text > b {
  font-weight: 400 !important;
}

.search_close_mobile{
  display: none !important;
}

.overflow-hidden .search-modal {
  bottom: 0 !important;
  transition: bottom 0.4s ease; 
}
.search-modal.down{
  bottom: -101% !important;
  transition: bottom 0.4s ease; 
}

@media screen and (max-width: 1024px) {
  .search__input, .snize-ac-results.snize-ac-results-mobile .snize-mobile-top-panel input.snize-mobile-input-style {
    font-size: 19px;
    line-height: 24px;
    padding: 7px 0 4px 0 !important;
    height: 100%;

  }

  .search_close_mobile{
    display:flex !important;
  }
  .fake_button_mobile{
    margin-top: -1px;
    z-index: 10;
    background-repeat: no-repeat;
    background-image: url(https://cdn.shopify.com/s/files/1/0702/4522/0637/files/search_close.svg?v=1686387638);
    width: 1rem !important;
    position: absolute;
    right: -1px;
    height: 1rem !important;
    top: 17px;
    background-size: 0.8rem 0.8rem;
  }
  .snize-ac-results.snize-ac-results-mobile .snize-mobile-top-panel button.snize-close-button-arrow {
    display: none;
  }
  .pp .search-modal__close-button{
    right: 10px;
  }
  .pp .search-modal__close-button.search_close_pc{
    display: none !important;
  }
  .snize-ac-results.snize-ac-results-mobile .snize-nothing-found-text {
    font-size: inherit;
  }
}