@font-face {
    font-family: 'ABC Diatype';
    src: url('https://cdn.shopify.com/s/files/1/0702/4522/0637/files/ABCDiatype-Regular.woff2?v=1687055901') format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0702/4522/0637/files/ABCDiatype-Regular.woff?v=1687055902') format('woff'),
    url('https://cdn.shopify.com/s/files/1/0702/4522/0637/files/ABCDiatype-Regular.ttf?v=1687055902') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body * {
    font-family: 'ABC Diatype', 'Noto Sans KR', sans-serif;
    letter-spacing: 0;
    color: #000;
    font-size: 22px;
    line-height: 28px;
    word-break: keep-all;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    body * {
        font-size: 19px;
        line-height: 24px;
    }
}

.pp .header {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 10px;
    width: 100%;
    height: 34px;
    background-color: #fff;
}

@media screen and (max-width: 1024px) {
    .pp .header {
        padding: 0 5px;
        height: 33.5px;
    }
}

.pp .footer {
    display: none !important;
}

.menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-top: 1.5px solid #000;
}

.menu-item + .menu-item {
    margin-left: 25px;
}

@media screen and (max-width: 1024px) {
    .menu-item + .menu-item {
        margin-left: 18px;
    }
}

.theme-black.pp .header {
    background-color: #000;
}

.theme-black.pp .menu-list {
    border-top: 1.5px solid #fff;
}

.theme-black.pp .menu-list * {
    color: #fff;
}

.menu-item--nav {
    cursor: pointer;
}

.nav-wrapper {
    position: fixed;
    z-index: 10;
    bottom: -100%;
    left: 0;
    padding: 8px 10px 10px;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    transition: bottom 400ms ease;
}

.nav-wrapper.active {
    bottom: 0;
}

.nav-inner {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1024px) {
    .nav-inner {
        grid-template-columns: repeat(2, 1fr);
    }

    .nav-col--1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .nav-col--2 {
        grid-area: 2 / 1 / 3 / 2;
        margin-top: 30px;
    }

    .nav-col--3 {
        grid-area: 1 / 2 / 3 / 3;
    }

    .nav-wrapper {
        padding: 6px 7px 0;
    }
}

.nav-close-btn {
    position: absolute;
    top: -8px;
    right: -10px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    line-height: initial;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.nav-close-btn svg {*/
/*    width: 10px;*/
/*    height: 10px;*/
/*}*/

.nav-item + .nav-item {
    margin-top: 28px;
}

.account-list {
    margin-top: 28px;
}

@media screen and (max-width: 1024px) {
    .nav-item + .nav-item {
        margin-top: 24px;
    }

    .account-list {
        margin-top: 24px;
    }
}

.product-name {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    padding: 0 10px;
    width: 100%;
    min-height: 34px;
    background-color: #fff;
}

.detail-info .product-desc {
    margin-top: 28px;
}

.detail-info .product-desc p {
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .product-name {
        position: sticky;
        padding: 0 7px;
        min-height: 33.5px;
    }

    .pp .product-default .product__info-container {
        height: 33.5px;
        align-content: center;
    }

    .product-price-inner {
        height: 33.5px !important;
    }

    .detail-info .product-desc {
        margin-top: 24px;
        padding: 3px 0;
    }

    .recommend-item {
        margin-bottom: 16px;
    }
}

.product-name-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 34px;
    border-bottom: 1.5px solid #000;
    text-align: center;
}

.detail-top {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0 8px;
    width: 100%;
    /*height: calc(100vh - 120px);*/
    padding: calc(34px + 3px) 10px 3px;
}

@media screen and (max-width: 1024px) {
    .product-name-inner {
        min-height: 33.5px;
    }

    .detail-top {
        display: flex;
        flex-direction: column-reverse;
        gap: 0 8px;
        width: 100%;
        height: auto;
        padding: 0 7px 0;
    }

}

.detail-info {

}

.product-price {
    height: 34px;
}

@media screen and (max-width: 1024px) {
    .product-price {
        height: 32px;
    }
}

.pp .product-default .product__info-container {
    display: flex;
    flex-wrap: wrap;
}

variant-radios, variant-selects {
    width: 100%;
}

.pp .product-default fieldset.product-form__input .form__label {
    display: none;
    margin: 0;
}

.pp .product-default .product-form__input label {
    margin-right: 5px;
}

.pp .product-default .product-form__input input[type='radio']:checked + label {
    color: #000;
    padding-left: 8px;
    position: relative;
}

.pp .product-default .product-form__input input[type='radio']:checked + label:after {
    content: '•';
    position: absolute;
    top: 0;
    left: 0;
}

.pp .product-default .product-form__input {
    border-bottom: 1.5px solid #000;
}

.pp .product-default .product-form__quantity {
    margin: 0 10px 0 0;
    min-width: auto;
    max-width: none;
    border-bottom: 0;
}

.pp .product-default .product-form__quantity .form__label {
    display: none;
}

.pp .product-default .product-form__quantity .quantity:before,
.pp .product-default .product-form__quantity .quantity:after {
    display: none;
}

.pp .product-default .product-form__quantity .quantity {
    color: transparent;
    position: relative;
    width: auto;
    display: flex;
    border-radius: 0;
    min-height: auto;
}

.pp .product-default .product-form__quantity .quantity__button {
    width: auto;
    font-size: 22px;
}

.pp .product-default .product-form__quantity .quantity__input {
    padding: 0;
    width: 30px;
    flex-grow: initial;
    color: #000;
    font-size: 22px;
    font-weight: normal;
    opacity: 1;
}

@media screen and (max-width: 1024px) {
    .pp .product-default .product-form__quantity .quantity__button {
        font-size: 19px;
    }

    .pp .product-default .product-form__quantity .quantity__input {
        width: 25px;
        font-size: 19px;
    }
}

.product-price-inner {
    display: flex;
    align-items: center;
    height: 100%;
    border-top: 1.5px solid #000;
    border-bottom: 1.5px solid #000;
}

.pp .product-default .product__info-container .product-form {
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .pp .product-default .product-form__input {
        height: 31px;
        display: flex;
        align-items: center;
    }

    .pp .product-default .product__info-container .product-form {
        height: 31px;
        display: flex;
        align-items: center;
    }
}

.pp .product-form__buttons {
    display: flex;
    max-width: none;
    margin: 0 25px;
}

.pp .custom-btn:before,
.pp .custom-btn:after {
    display: none;
}

.pp .custom-btn {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: auto;
    min-width: auto;
    min-height: auto;
    background: transparent;
    cursor: pointer !important;
}

.pp .custom-btn.button:disabled {
    opacity: 1;
}

.pp .product-form__buttons button.shopify-payment-button__button--unbranded:before,
.pp .product-form__buttons button.shopify-payment-button__button--unbranded:after {
    display: none;
}

.pp .product-form__buttons button.shopify-payment-button__button--unbranded {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: auto;
    min-width: auto;
    min-height: auto;
    background: transparent;
    color: #000;
    font-size: 22px;
    line-height: 28px;
}

.detail-visual {
    width: calc(((100vw - 10px) / 3) * 2);
}

@media screen and (max-width: 1024px) {
    .detail-visual {
        width: 100%;
        border-bottom: 1.5px solid #000;
    }
}

.product-image {
    z-index: 1;
    width: 100%;
}

.detail-visual .product-image .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 166px);
    overflow: hidden;
    background: #E9E9E9;
}

.detail-visual .product-image .swiper-slide img {
    display: block;
    margin: auto;
    width: auto;
    height: 100%;
}

@media screen and (max-width: 1024px) {
    .detail-visual .product-image .swiper-slide {
        height: auto;
    }

    .detail-visual .product-image .swiper-slide img {
        width: 100%;
        height: auto;
    }
}

.pp .product-recommendations {
    padding: 0 10px calc(62px + 34px) !important;
}

.product-recommendations-title {
    width: 100%;
    height: 34px;
    line-height: 34px;
    border-top: 1.5px solid #000;
}

.pp .product-recommendations .card__information {
    padding: 0 !important;
}

.pp .product-recommendations .card__information .card-information {
    display: none;
}

@media screen and (max-width: 1024px) {
    .pp .product-recommendations {
        padding: 0 7px calc(62px + 32px) !important;
    }

    .product-recommendations-title {
        height: 32px;
        line-height: 32px;
    }
}

.pp .swiper-pagination-bullet {
    background: #fff;
    opacity: 1 !important;
    margin: 0 2px !important;
}

.pp .swiper-pagination-bullet-active {
    background: #000;
}


.pp .collection-nav {
    position: sticky;
    z-index: 2;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0 10px;
    width: 100%;
    background: #fff;
}

@media screen and (max-width: 1024px) {
    .pp .collection-nav {
        padding: 0 7px;
    }
}

.pp .collection-nav .facets-wrap {
    display: none;
}

.pp .collection-nav .facets-wrap .facets__form {
    display: block;
    margin: 0;
}

.pp .collection-nav .facets-wrap .facet-filters {
    padding: 0;
}

.pp .collection-nav .facets-wrap .facets-container {
    display: block;
}

.pp .collection-nav .facets-wrap.on {
    display: block;
}

.pp .collection-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 34px;
    border-bottom: 1.5px solid #000;
}

.pp .collection-nav-item {
    cursor: pointer;
}

.pp .collection-nav-item + .collection-nav-item {
    margin-left: 25px;
}

.collection-title {
    margin: auto;
    display: flex;
    align-items: center;
    width: calc(100% - 20px);
    height: 34px;
    border-bottom: 1.5px solid #000;
}

.pp .facets-wrapper .facets-container {
    padding: 0;
}

.pp .collection .product-grid-list {
    display: flex;
    flex-wrap: wrap;
    /*grid-template-columns: repeat(5, 1fr);*/
    /*gap: 0 8px;*/
    list-style: none;
    margin: 0;
    padding: 8px 5px 90px;
    box-sizing: border-box;
    width: 100%;
}

.pp .product-item {
    width: 20%;
    padding: 0 5px;
    margin-bottom: 36px;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .pp .collection .product-grid-list {
        padding: 8px 7px 45px;
    }

    .pp .product-item {
        width: 50%;
        margin-bottom: 16px;
    }

    .pp .product-item:nth-child(4n+1) {
        padding: 0 3.5px 0 0;
    }

    .pp .product-item:nth-child(4n+3) {
        padding: 0 0 0 3.5px;
    }
}

.pp .product-item .card {
    display: flex;
    justify-content: flex-end;
}

.pp .product-item .card__content {
    display: block;
    flex-grow: initial;
}

.pp .collection .product-item .card__information {
    padding: 0;
}

.pp .product-item .card__heading {
    opacity: 0;
}

.pp .collection .product-item .card__heading a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    color: #000;
}

/*.pp .collection .product-item .card__information.off .card__heading a {*/
/*    font-size: 0;*/
/*    color: transparent;*/
/*    height: 0;*/
/*}*/

.product-more-info {
    display: none !important;
}

@media (hover: hover) {
    .pp .product-item:hover .card__heading {
        opacity: 1;
    }
}

@media screen and (max-width: 1024px) {
    .pp .product-item .card__heading {
        opacity: 1;
    }
}

.pp .collection .product-item .card-information {
    display: none;
}

.pp .product-item .card__badge {
    display: none !important;
}

.pp .product-item .wk-floating {
    display: none !important;
}

.pp .cart-wrapper {
    background: #000;
    transition: none;
}

.pp .cart-wrapper * {
    color: #fff;
    background: #000;
}

.pp .cart-wrapper .cart-drawer {
    width: 100%;
}

.pp .cart-wrapper .cart-drawer .drawer__inner {
    padding: 0;
    width: 100%;
    max-width: 100%;
    transition: none;
}

.pp .cart-wrapper .cart-drawer .drawer__header {
    padding: 0 10px;
}

.drawer__header-inner {
    position: relative;
    width: 100%;
    height: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: 1.5px solid #fff;
}

@media screen and (max-width: 1024px) {
    .pp .cart-wrapper .cart-drawer .drawer__header {
        padding: 0 7px;
    }

    .drawer__header-inner {
        height: 32px;
    }
}

.cart-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    appearance: none;
    border: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    line-height: initial;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .cart-close-btn {
        width: 30px;
        height: 30px;
    }

}

.cart-drawer__empty-content {
    padding: 3px 10px;
}

.cart-drawer__empty-content .cart__empty-text {
    margin: 0;
}

.pp .drawer__cart-items-wrapper.cart-items-wrapper {
    padding: 8px 10px 0;
}

@media screen and (max-width: 1024px) {
    .cart-drawer__empty-content {
        padding: 8px 7px;
    }

    .pp .drawer__cart-items-wrapper.cart-items-wrapper {
        padding: 8px 7px 0;
    }
}

.cart-items-wrapper .cart-items .cart-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    width: 100%;
}

.cart-items-wrapper .cart-items .cart-item dl {
    margin: 0;
}

.cart-cell--first {
    display: flex;
    min-width: 0;
}

.cart-items .cart-cell--first .product-option dd {
    margin-left: 8px;
}

.cart-items-wrapper .cart-items .cart-item .loading-overlay {
    display: none !important;
}

.cart-drawer .cart-item .cart-item__quantity-wrapper {
    justify-content: flex-end;
}

.cart-item__name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

.cart-drawer .cart-item .quantity {
    min-height: initial;
    width: 100px;
}

.cart-drawer .cart-item .quantity:before,
.cart-drawer .cart-item .quantity:after {
    display: none;
}

.cart-drawer .cart-item .quantity__button:first-child {
    margin-left: 12px;
}

.cart-drawer .cart-item .quantity__button {
    font-size: 22px;
    line-height: 28px;
    width: auto;
    margin: 0 12px;
}

@media screen and (max-width: 1024px) {
    .cart-items-wrapper .cart-items .cart-item {
        grid-template-columns: 3fr 1fr 2fr;
        gap: 0 7px;
    }

    .cart-drawer .cart-item .quantity__button {
        font-size: 19px;
        line-height: 24px;
    }

    .cart-drawer .cart-item .quantity {
        width: 90px;
    }

    .cart-drawer .cart-item .quantity__button:first-child {
        margin-left: 9px;
    }

    .cart-drawer .cart-item .quantity__button {
        margin: 0 9px;
    }
}

.cart-drawer .cart-item .quantity__input {
    font-size: 22px;
    line-height: 28px;
    opacity: 1;
}

@media screen and (max-width: 1024px) {
    .cart-drawer .cart-item .quantity__input {
        font-size: 19px;
        line-height: 24px;
    }
}

.cart-drawer .cart-item .cart-item__error {
    margin-top: 0;
}

.cart-drawer .cart-item .price {
    font-size: 22px;
    line-height: 28px;
}

@media screen and (max-width: 1024px) {
    .cart-drawer .cart-item .price {
        font-size: 19px;
        line-height: 24px;
    }
}

.drawer__footer {
    position: relative;
    padding: 0 10px;
    flex: 1;
}

@media screen and (max-width: 1024px) {
    .drawer__footer {
        padding: 0 7px;
    }
}

.cart-drawer__footer {
    padding: 3px 0;
    border-top: 1.5px solid #fff;
}

.pp .drawer__footer .totals > * {
    font-size: 22px;
    line-height: 28px;
}

@media screen and (max-width: 1024px) {
    .pp .drawer__footer .totals > * {
        font-size: 19px;
        line-height: 24px;
    }
}

.pp .cart__ctas {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 10px;
    width: 100%;
    height: 34px;
}

@media screen and (max-width: 1024px) {
    .pp .cart__ctas {
        padding: 0 5px;
        height: 32px;
    }
}

.pp .cart__ctas-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-top: 1.5px solid #fff;
}

.pp .cart-drawer .cart__checkout-button:before,
.pp .cart-drawer .cart__checkout-button:after {
    display: none;
}

.pp .cart__ctas .cart__checkout-button {
    width: auto;
    padding: 0;
    box-shadow: none;
    font-size: 22px;
    line-height: 28px;
    min-width: initial;
    min-height: initial;
}

#CartDrawer-CartErrors {
    padding: 0 10px;
}

@media screen and (max-width: 1024px) {
    .pp .cart__ctas .cart__checkout-button {
        font-size: 19px;
        line-height: 24px;
    }

    #CartDrawer-CartErrors {
        padding: 0 5px;
    }
}

.info-page {
    background: #000;
    padding: 0 10px;
    min-height: 100vh;
}

.info-page * {
    color: #fff;
}

.info-page-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 34px;
    border-bottom: 1.5px solid #fff;
}

.info-inner {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0 10px;
}

@media screen and (max-width: 1024px) {
    .info-inner {
        display: block;
    }
}

.info-item {
    border-bottom: 1.5px solid #fff;
}

.info-title-2 {
    display: block;
    height: 34px;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
}

.info-title {
    position: relative;
    display: block;
    height: 34px;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
    cursor: pointer;
}

.info-title:after {
    content: '+';
    position: absolute;
    top: 0;
    right: 0;
}

.info-title.on:after {
    content: '–';
}

.info-content {
    display: none;
    padding-bottom: 3px;
}

.info-content p {
    margin: 0;
}

.info-img-wrap {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: calc(66.66vw - 30px);
}

.info-img-wrap img {
    display: block;
    width: 100%;
    height: auto;
}

.info-img-wrap--pc {
    display: block;
}

.info-img-wrap--m {
    display: none;
}

@media screen and (max-width: 1024px) {
    .info-img-wrap {
        display: block;
        max-width: none;
        padding: 26px 0 7px 0;
    }

    .info-img-wrap img + img {
        margin-top: 7px;
    }

    .info-img-wrap--pc {
        display: none;
    }

    .info-img-wrap--m {
        display: block;
    }

    .info-img-wrap--m img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.main-collection-section {
    padding: 0 10px 70px;
}

@media screen and (max-width: 1024px) {
    .main-collection-section {
        padding: 0 7px 64px;
    }
}

.main-collection-title {
    padding: 3px 0 3px;
    border-top: 1.5px solid #000;
}

.main-collection-title a {
    display: inline-block;
    color: #000;
}

.main-collection-title a:after {
    content: '+';
    display: inline-block;
    margin-left: 5px;
}

.main-collection-row {
    display: grid;
    gap: 0 10px;
}

.main-collection-row--first {
    grid-template-columns: 1fr 1fr;
}

.main-collection-row--last {
    margin-top: 37px;
    grid-template-columns: 1fr 1fr 1fr;
}

.main-collection-row .main-collection-item .card__heading a:after {
    display: none !important;
}

.main-collection-item .card__heading a {
    display: inline-block;
}

.main-collection-item .card-img {
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .main-collection-row {
        display: block;
    }

    .main-collection-row--last {
        margin-top: 0;
    }

    .main-collection-item {
        margin-bottom: 27px;
    }
}

.main-collection-item .card-img img {
    display: block;
    width: 100%;
    height: auto;
}

.main-collection-list .main-collection-item .card__information {
    padding: 0 !important;
}

.main-collection-list .main-collection-item .card__information .card-information {
    display: none !important;
}

.main-collection-list--2,
.main-collection-list--3 {
    display: grid;
    gap: 0 10px;
}

.main-collection-list--2 {
    grid-template-columns: 1fr 1fr;
}

.main-collection-list--3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.card-img-list-wrap {
    /*     width: calc(50vw - 24px); */
}

.main-collection-list--2 .card-img-list-wrap {
    /*     width: calc(50vw - 22px); */
}

@media screen and (max-width: 1024px) {
    /*.card-img-list-wrap {*/
    /*    width: calc(100% - 10px);*/
    /*}*/
    /*.main-collection-list--2 .card-img-list-wrap {*/
    /*    width: calc(100% - 10px);*/
    /*}*/
}

@media screen and (max-width: 1024px) {
    .main-collection-list--2,
    .main-collection-list--3 {
        display: block;
    }
}

.main-header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 34px;
    background: #fff;
    padding: 0 10px;
}

@media screen and (max-width: 1024px) {
    .main-header {
        padding: 0 5px;
    }
}

.main-header-inner {
    height: 100%;
    border-bottom: 1.5px solid #000;
    text-align: center;
}

.main-header-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-header-row--last {
    display: none;
}

.main-header.on .main-header-row--first {
    display: none;
}

.main-header.on .main-header-row--last {
    display: flex;
}

.main-header-row a {
    display: inline-block;
}

.main-header-row a + a {
    margin-left: 25px;
}

.product-item {
    display: none;
}

.product-item-index {
    display: none;
    width: 100%;
}

.product-item-index:nth-child(2) {
    padding-top: 3px;
}

#product-grid.index > .product-item-index {
    display: block !important;
}

#product-grid.cover > .product-item {
    display: block !important;
}

.btn-grid-type {
    display: none;
}

.grid-loading {
    display: none;
}

.index-title {
    display: none;
    padding: 0 10px;
    height: 34px;
}

@media screen and (max-width: 1024px) {
    .index-title {
        padding: 0 5px;
        height: 32px;
    }

    .main-header-row a + a {
        margin-left: 18px;
    }
}

.index-row {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    cursor: pointer;
}

.index-item:last-child {
    padding-right: 0px;
}

.index-title.index {
    display: block;
    position: sticky;
    top: 34px;
    left: 0;
    width: 100%;
    background: #fff;
}

@media screen and (max-width: 1024px) {
    .index-title.index {
        display: block;
        position: sticky;
        top: 32px;
        left: 0;
        width: 100%;
        background: #fff;
    }
}

.index-title .index-row {
    border-bottom: 1.5px solid #000;
    height: 100%;
    cursor: default;
}

.index-title .index-item {
    display: flex;
    align-items: center;
    height: 100%;
}

.index-item:empty {
    display: flex;
}

.index-item:nth-child(4) {
    text-align: right;
    justify-content: flex-end;
}

.pp .collection .product-grid-list.index {
    padding: 0 10px 90px;
}

@media screen and (max-width: 1024px) {
    .index-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .index-item:nth-child(2) {
        padding-right: 7px;
    }

    .index-item:nth-child(1),
    .index-item:nth-child(3) {
        display: none;
    }

    .pp .collection .product-grid-list.index {
        padding: 0 5px 90px;
    }
}

.pp .filter-list {
    display: flex;
    justify-content: center;
}

.pp .filter-item + .filter-item {
    margin-left: 24px;
}

@media screen and (max-width: 1024px) {
    .pp .filter-item + .filter-item {
        margin-left: 5px;
    }
}

.pp .filter-item {
    cursor: pointer;
}

.pp .filter-item.selected:after {
    content: '×';
    display: inline-block;
    margin-left: 4px;
}

.pp .filter-list.act1 .sort-btn.selected {
    color: #000;
}

.pp .filter-list.act1 .sort-btn:not(.selected) {
    color: #E9E9E9;
}

.pp .filter-list.act2 .stock-btn.selected {
    color: #000;
}

.pp .filter-list.act2 .stock-btn:not(.selected) {
    color: #E9E9E9;
}

.reset-btn {
    display: none;
}

.reset-btn.on {
    display: block;
}

.switch-btn {
    display: block;
}

.switch-btn.off {
    display: none;
}

.pp .wk-floating {
    display: none !important;
}

.recommend-item .card-img img {
    display: block;
    width: 100%;
    height: auto;
}

.pp .product-recommendations .recommend-item-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .pp .product-recommendations .recommend-item-list {
        display: block;
    }
}

.wk-button {
    height: 100%;
}

.page-section .rte {
    width: 100%;
    overflow-x: hidden;
}

.page-section .snize-main-panel,
.page-section .snize-horizontal-right,
.page-section .snize-filters-sidebar,
.page-section .snize-description,
.page-section .snize-price-list,
.page-section .snize-pagination {
    display: none !important;
}

.pp .page-section div.snize .snize-horizontal-wrapper {
    margin: 0;
}

.pp .page-section .snize-horizontal-left {

}

.pp .page-section .snize-search-results-header,
.pp .page-section .snize-search-results-header * {
    color: #000;
    font-size: 22px;
    line-height: 28px;
}

.pp .page-section .snize-search-results-header {
    width: 100%;
    border-bottom: 1.5px solid #000;
    height: auto;
    min-height: 34px;
}


.pp .page-section #snize-search-results-grid-mode ul {
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 8px 10px 90px;
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 36px 10px;
}

.pp .page-section #snize-search-results-grid-mode ul:before {
    display: none;
}

.pp .page-section #snize-search-results-grid-mode.snize-five-columns li.snize-product {
    width: 100% !important;
    box-sizing: border-box;
    display: block;
    vertical-align: top;
    border: none;
    min-width: auto;
    color: #000;
    cursor: pointer;
    transition: none;
    align-self: end;
}

.pp .page-section .snize-header {
    padding: 0 10px;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .pp .page-section .snize-search-results-header,
    .pp .page-section .snize-search-results-header * {
        font-size: 19px;
        line-height: 24px;
    }

    .pp #snize_results.snize-mobile-design.snize-new-version div.snize-header {
        margin-left: 0;
        margin-right: 0;
        display: block;
        height: auto;
    }

    .pp #snize_results.snize-mobile-design.snize-new-version div.snize-search-results-header {
        margin-top: 0;
        height: auto;
        font-size: inherit;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .pp .page-section #snize-search-results-grid-mode.snize-five-columns li.snize-product {
        width: 50%;
        margin-bottom: 8px;
    }

    .pp .page-section #snize-search-results-grid-mode ul {
        padding: 8px 7px 90px;
        grid-template-columns: repeat(2, 1fr);
    }

    .pp .page-section .snize-header {
        padding: 0 7px;
    }

    .pp .page-section .snize-search-results-header {
        min-height: 33.5px;
    }

    .pp #snize_results.snize-mobile-design.snize-new-version #snize-search-results-grid-mode.snize-two-columns li.snize-product {
        width: 100% !important;
    }
}


.pp .page-section #snize-search-results-grid-mode span.snize-thumbnail {
    display: block;
    position: relative;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    border-bottom: none;
    height: auto;
}

.pp .page-section #snize-search-results-grid-mode span.snize-thumbnail img {
    margin: 0;
    position: static;
    max-height: none;
    max-width: none;
    transition: none;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
}

.pp .page-section #snize-search-results-grid-mode span.snize-thumbnail .snize-flip-image {
    display: none !important;
}

.pp .page-section #snize-search-results-grid-mode li.snize-product .snize-button {
    display: none !important;
}


.pp .page-section li.snize-product span.snize-thumbnail img.snize-flip-image,
.pp .page-section li.snize-product:hover span.snize-thumbnail img {
    opacity: 1;
}

.pp .page-section #snize-search-results-grid-mode span.snize-overhidden {
    padding: 3px 0 0;
}

.pp .page-section #snize-search-results-grid-mode li.snize-product span.snize-title {
    margin: 0;
    color: #000;
    font-size: 22px;
    line-height: 28px;
    overflow: hidden;
    /*white-space: nowrap;*/
    text-overflow: ellipsis;
    word-break: break-all;
}

.pp .menu-item:last-child {
    display: none !important;
}

.pp .mobile-facets__wrapper,
.pp .product-count {
    display: none;
}

@media screen and (max-width: 989px) {
    .pp .active-facets {
        margin: 0;
        display: none;
    }
}

.card-img--main {
    position: relative;
}

.card__content--main .card__heading a::after {
    display: none;
}

/*.card-img--main img:first-child {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    opacity: 0;*/
/*    transition: opacity 300ms ease-out;*/
/*}*/

/*.card-img--main:hover img:first-child {*/
/*    opacity: 1;*/
/*}*/

.pp div.snize li.snize-no-products-found {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    padding: 0 10px;
    min-height: 34px;
    box-sizing: border-box;
}

.pp div.snize li.snize-no-products-found .snize-no-products-found-text {
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 34px;
    border-bottom: 1.5px solid #000;
}

.pp div.snize li.snize-no-products-found div.snize-no-products-found-text {
    padding: 0;
    text-align: left;
}

.pp div.snize li.snize-no-products-found div.snize-no-products-found-text span {
    color: #000;
    font-size: 22px;
    line-height: 28px;
}

.pp div.snize li.snize-no-products-found div.snize-no-products-found-text span b {
    font-weight: normal;
}

.pp div.snize li.snize-no-products-found div.snize-no-products-found-text span .snize-link-home {
    text-decoration: none !important;
}


#snize_results.snize-mobile-design.snize-new-version #snize-search-results-grid-mode ul, #snize_results.snize-mobile-design.snize-new-version #snize-search-results-list-mode ul, #snize_results.snize-mobile-design.snize-new-version div.disabled-opacity {
    margin-left: 0 !important;
    margin-right: 0 !important;
}


@media screen and (max-width: 1024px) {
    .pp div.snize li.snize-no-products-found div.snize-no-products-found-text span {
        font-size: 19px;
        line-height: 24px;
    }

    .pp #snize_results.snize-mobile-design.snize-new-version #snize-search-results-grid-mode span.snize-thumbnail {
        height: auto;
    }

    .pp #snize_results.snize-mobile-design.snize-new-version #snize-search-results-grid-mode span.snize-thumbnail img {
        max-height: none;
    }

    .pp #snize_results.snize-mobile-design.snize-new-version #snize-search-results-grid-mode.snize-two-columns li.snize-product {
        justify-content: flex-end;
    }

    .pp #snize_results.snize-mobile-design.snize-new-version #snize-search-results-grid-mode span.snize-overhidden {
        padding: 3px 0 0;
    }

    .pp #snize_results.snize-mobile-design.snize-new-version #snize-search-results-grid-mode li.snize-product span.snize-title {
        font-size: 19px;
        line-height: 24px;
        margin-bottom: 0;
    }

    .pp div.snize li.snize-no-products-found {
        padding: 0 7px;
    }

    div.snize div.snize-header {
        padding: 0 7px;
    }
}

.info-list {
    padding-bottom: 200px;
}

@media screen and (max-width: 1024px) {
    .info-list {
        padding-bottom: 0;
    }

    .info-page {
        padding: 0 7px;
    }

    .info-title {
        height: 33.5px;
    }

    .info-title-2 {
        height: 33.5px;
    }
}

.pp .search-modal__close-button {
    line-height: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 19px;
    width: 32px !important;
    height: 32px !important;
    margin-top: -6px;
    margin-right: -7px;
}

.pp .product-default .product-form__quantity .quantity__button {
    color: #000;
}

@media (hover: hover) {
    wishlist-button-block .wk-button:hover *,
    .pp .product-form__buttons:hover *,
    .pp .product-default .product-form__quantity .quantity__button:hover,
    .pp .product-item-index:hover *,
    .pp .filter-item:hover,
    .pp .collection-nav-item:hover,
    .pp .btn-grid-type:hover,
    .pp .account-item a:hover,
    .pp .util-item a:hover,
    .pp .util-item a:hover *,
    .pp .modal__toggle:hover,
    .pp .etc-item a:hover,
    .pp .nav-close-btn:hover,
    .pp .depth-item a:hover,
    .pp .main-header-item:hover,
    .pp .menu-item:hover,
    .pp .menu-item .modal__toggle:hover,
    .pp .menu-item a:hover,
    .pp .menu-item a:hover *,
    .pp .main-header-item:hover {
        color: #dcdcdc;
    }

    .card__heading a:hover {
        color: #dcdcdc;
    }
}

@media (hover: hover) {
    .pp .line_title:hover,
    .pp .order_item a:hover,
    .pp .customer button:hover,
    .pp .account_contents a:hover,
    .info-content .btn:hover *,
    .info-title-2:hover,
    .info-content a:hover,
    .info-title:hover,
    .account_buttons a:hover,
    .account_buttons button:hover,
    .pp .cart__ctas .cart__checkout-button:hover,
    .cart-item__name:hover,
    .cart-drawer .cart-item .quantity__button:hover,
    .cart-close-btn:hover {
        color: #969696;
        cursor: pointer;
    }
}

.pp #recover:target + div {
    display: flex;
    flex-direction: column;
}

.account_form_box input {
    color: #969696;
}

.account_form_box input:hover,
.account_form_box input:focus {
    color: #646464;
}

.main-collection-title {
    position: relative;
    display: inline-block;
}

.main-collection-title a {
    position: relative;
    z-index: 1;
}

.main-collection-title:after {
    content: 'Explore more';
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    color: transparent;
    padding: 3px 0 3px;
}

@media (hover: hover) {
    .main-collection-title a:hover {
        color: transparent;
    }

    .main-collection-title:hover:after {
        color: #000;
    }
}

.card--standard .card__inner.off {
    opacity: 0.5;
}

aside#main-collection-filters {
    height: 34px;
}

.pp .collection-nav .facets-wrap .facets-container {
    height: 100%;
}

.pp .filter-list {
    align-items: center;
    height: 100%;
}

.pp .product-item .card__heading a::after {
    display: none;
}

.card--media .card__inner .card__content {
    cursor: pointer;
}

.index-item:nth-child(2) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

.product-item-index.off * {
    color: #dcdcdc;
}

@media (hover: hover) {
    .product-item-index.off:hover * {
        color: #e9e9e9;
    }

    .pp .swiper-pagination-bullet:hover {
        background: #000;
    }

    .pp .search-menu-item-list .depth-item a:hover {
        color: #969696 !important;
    }

    .pp .snize-item:hover .snize-title {
        color: #969696 !important;
    }
}

.pp .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
}

@media screen and (max-width: 1024px) {
    .pp .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
    }

    .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 2px !important;
    }
}

.pp .search-modal {
    top: initial;
    bottom: -100%;
    transition: bottom 400ms ease;
    opacity: 1;
}

details > .search-modal {
    bottom: -100%;
    transition: bottom 400ms ease;
}

details[open] > .search-modal {
    /*animation: animateMenuOpen var(--duration-default) ease;*/
    bottom: 0;
}

.snize-big-spinner {
    display: none !important;
}


.pp .search-modal__content {
    overflow: hidden;
}

.pp .snize-ac-results-list {
    width: 100%;
    display: grid;
    align-items: flex-end;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    height: fit-content;
}

.pp .snize-ac-results .snize-thumbnail {
    aspect-ratio: auto;
}

@media screen and (max-width: 1024px) {
    .pp .snize-ac-results-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .pp .snize-ac-results-content {
        padding: 0 7px;
    }
}

.snize-ac-results-list li.snize-product .snize-item {
    grid-template-rows: none !important;
}

.drawer__header-inner span {
    display: inline-block;
    margin: auto;
}

#collection-result {
    display: none;
    margin: auto;
    align-items: center;
    width: calc(100% - 20px);
    height: 34px;
    border-bottom: 1.5px solid #000;
}

@media screen and (max-width: 1024px) {
    .pp .collection-nav-list {
        height: 32px;
    }

    .collection-title {
        width: calc(100% - 14px);
        height: 32px;
    }

    #collection-result {
        width: calc(100% - 14px);
        height: 32px;
        display: flex;
    }
}

#collection-result > div {
    margin-right: 24px;
}