#admin-bar {
  display: none !important;
}

input {
   -webkit-appearance: none;
   -webkit-border-radius: 0;
}

/* account 관련 배경, 텍스트 색상 설정 */
body{
  background-color : #000 !important; 
}
.customer *{
  color: #fff;
}
.pp .header{
  background-color : #000;
  color: #fff;
}

.menu-list{
  border-top: 1.5px solid #fff;
}
.empty_box,
.contents_box{
  border-top: 1.5px solid #fff;
  padding: 3px 0;
  text-align : left;
}
.menu-list *{
  color: #fff;
}
.contents_box span{
  display:block;
}

.contents_box:last-child {
  border-bottom: 1.5px solid #fff;
}

.contents_box .address_text {
  margin-bottom : 28px;
}

.contents_box .address_text:last-child{
  margin-bottom: 0;
}
.customer .account_title{
  display: flex;
  height: 35px;
  align-items:center;
  justify-content: center;
}
.customer a, .customer button{
  margin: 0;
}

.customer {
  margin: 0 auto;
  padding: 0 10px 70px 10px;
  text-align: center;
}

.account_form_box, .account_contents{
  border-top : 1.5px solid #fff;
}
.account_form_box .form_title{
  border-bottom: 1.5px solid #fff;
  padding: 3px 0;
  text-align: left;
}
.account_form_box select,
.account_form_box input,
.account_contents > span,
.customer .account_contents > button{
  text-align: left;
  display: block;
  border:none;
  border-bottom : 1.5px solid #fff;
  width : 100%;
  padding : 3px 0;
  background-color: transparent;
}

.account_form_box .account_buttons{
  display : flex;
  gap: 20px;
  padding : 3px 0;
  border-bottom: 1.5px solid #fff;
}
.account_error_box, .account_message {
  padding : 3px 0;
  border-bottom: 1.5px solid #fff;
}
.account_error_box span{
  display: block;
  color: #FF0000;
  text-align: left;
}
.account_message span{
  display: block;
  color: #00FF00;
  text-align: left;
}
.customer .account_checkbox{
  display: flex;
  justify-content:space-between;
  padding : 3px 0;
  border-bottom: 1.5px solid #fff;
  text-align: left;
}
.customer .account_checkbox input{
  width: auto;
}

/* 동의 체크박스 스타일 */
.customer input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  box-shadow: none;
  border: none;
  transition: background-color 0.3s ease;
  position: relative;
  cursor: pointer;
}

.customer input[type="checkbox"]::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border : 1.5px solid #fff;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.customer input[type="checkbox"]:checked::before {
  content: "";
  background-color: #fff;
}
.customer a{
  color: #fff;
}
.customer button {
  background: inherit ; 
  border:none; 
  box-shadow:none; 
  border-radius:0; 
  padding:0; 
  overflow:visible; 
  cursor:pointer;
}

.customer ul {
  line-height: calc(1 + 0.6 / var(--font-body-scale));
  padding-left: 4.4rem;
  text-align: left;
  margin-bottom: 4rem;
}

/* 주소 추가 팝업 */
.addressPop{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0 10px 70px 10px;
  background-color: #000;
  z-index: 10;
}
.customer .close_add{
 position: absolute;
 top: 7px;
 right:10px;
}

.customer .submit_add_address{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0px 10px;
    width: 100%;
    text-align: center;
}

/* Pagination */
.customer .pagination {
  margin-top: 5rem;
  margin-bottom: 7rem;
}

@media screen and (min-width: 990px) {
  .customer .pagination {
    margin-top: 7rem;
    margin-bottom: 10rem;
  }
}

.customer .pagination ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.customer .pagination li {
  flex: 1 1;
  max-width: 4rem;
}

.customer .pagination li:not(:last-child) {
  margin-right: 1rem;
}

.customer .pagination li :first-child {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 4rem;
  width: 100%;
  padding: 0;
  text-decoration: none;
}

.customer .pagination li :first-child svg {
  height: 0.6rem;
}

.customer .pagination li:first-of-type svg {
  margin-left: -0.2rem;
  transform: rotate(90deg);
}

.customer .pagination li:last-of-type svg {
  margin-right: -0.2rem;
  transform: rotate(-90deg);
}

.customer .pagination li [aria-current]::after {
  content: '';
  display: block;
  width: 2rem;
  height: 0.01rem;
  position: absolute;
  bottom: 0.08rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: currentColor;
}

.addresses .default_title{
  display: block;
  margin-bottom: 30px;
}
.addresses .address_list,
.customer .order_list{
  margin: 0;
  padding:0;
  border-top:1.5px solid #fff;
}
.addresses .address_list li,
.customer .order_list li{
  padding: 3px 0;
  position: relative;
  border-bottom: 1.5px solid #fff;
  list-style-type: none;
}
.customer .order_list li span {
  display: block;
}
.addresses .address_list li:last-child{
  border-bottom: none;
}
.addresses .address_list li .button_set,
.order_list li .button_set{
  position:absolute;
  top: 7px;
  right: 0;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 5px;
}
.addresses .address_list li p{
  margin: 0;
  padding: 0;
}
.addresses li > button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.addresses li > button + button,
.addresses form button + button {
  margin-top: 0rem;
}

@media screen and (min-width: 750px) {
  .addresses li > button:first-of-type {
    margin-top: 3rem;
  }
}

.addresses form button:first-of-type {
  margin-right: 1rem;
}

label[for='AddressCountryNew'],
label[for='AddressProvinceNew'] {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
}

.addresses form {
  display: flex;
  flex-flow: row wrap;
}

.addresses form > div {
  width: 100%;
  text-align: left;
}

.addresses ul {
  list-style: none;
  padding-left: 0;
  text-align: left;
}

.addresses [aria-expanded='false'] ~ div[id] {
  display: none;
}

.addresses [aria-expanded='true'] ~ div[id] {
  display: block;
}
/* Order detail */
.customer.order .line_item_list{
  width: 100%;
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.customer.order .line_item_list .line_item_box {
  display: grid;
  grid-template-rows: 1fr; 
  align-items: stretch;
  margin-bottom: 35px;
}
@media screen and (max-width: 1024px) {
  .customer.order .line_item_list{
    grid-template-columns: repeat(2, 1fr);
  }
  .customer {
    padding: 0 7px 64px 7px;
  }
  .customer .account_title {
    height: 33.5px;
  }
  .customer.order .line_item_list .line_item_box {
    margin-bottom: 16px;
  }
  .customer .account_title{
    height: 33.5px;
  }
  .customer .submit_add_address{
    padding: 0px 7px;
  }
  .account_form_box select,
  .account_form_box input,
  .account_contents > span,
  .customer .account_contents > button{
    padding : 4px 0;
  }
  .customer .account_checkbox {
    padding : 4px 0;
  }
}

.customer.order .line_item_list img{
  width:100%;
}

.customer.order .line_item_list .line_item_box .line_item_img {
  display: grid;
  align-items: end;
  grid-row: 1; 
}
.customer.order .line_item_list .line_item_box .line_item_img a {
  display: flex;
  align-items: flex-end;
  aspect-ratio: 4/5;
}
.customer.order .line_item_list .line_item_box .line_item_details {
  grid-row: 2; 
}


.customer.order .line_item_list .line_title{
  overflow: hidden; 
  display: -webkit-box; 
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; 
  text-overflow: ellipsis; 
}

#recover,
#recover + div{
  display: none;
}

#recover:target {
  display: flex;
}

#recover:target + div {
  display: block;
}

#recover:target ~ #login,
#recover:target ~ #login + div {
  display: none;
}
.customer[data-status='recover_success'] #recover,
.customer[data-status='recover_success'] #recover + div{
  display: block;
}

.customer[data-status='recover_success'] #login,
.customer[data-status='recover_success'] #login + div {
  display: none;
}
/* input 스타일 */
input placeholder{
  color: #959595;
}

input[aria-invalid="true"] placeholder{
  color: #ff0000;
}
select:focus,
select:hover,
select:active,
input:focus,
input:hover,
input:active {
  outline: none !important;
  box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color : transparent !important; 
	-webkit-text-fill-color: #fff;
     box-shadow: 0 0 0 0 rgb(var(--color-background)) inset !important;
    -webkit-box-shadow: 0 0 0 0 rgb(var(--color-background)) inset !important;
    transition: background-color 5000s ease-in-out 0s;
    font-size : 22px;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
    background-color : transparent !important; 
	-webkit-text-fill-color: #fff;
    box-shadow: 0 0 0 0 rgb(var(--color-background)) inset !important;
    -webkit-box-shadow: 0 0 0 0 rgb(var(--color-background)) inset !important;
    transition: background-color 5000s ease-in-out 0s;
    font-size : 22px;
}

@media screen and (max-width: 1024px) {
  input:autofill,
  input:autofill:hover,
  input:autofill:focus,
  input:autofill:active {
    font-size : 19px;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    font-size : 19px;
  }
}
