#admin-bar {
  display: none !important;
}
/* account 관련 배경, 텍스트 색상 설정 */
body{
  background-color : #000 !important; 
}
.customer *{
  color: #fff;
}
.pp .header{
  background-color : #000;
  color: #fff;
}

.menu-list{
  border-top: 1px solid #fff;
  
}
.menu-list *{
  color: #fff;
}

.customer .account_title{
  display: block;
  margin-bottom: 7px;
}
.customer a, .customer button{
  margin: 0;
}

.customer {
  margin: 0 auto;
  padding: 7px;
  text-align: center;
}

.account_form_box, .account_contents{
  border-top : 1px solid #fff;
}
.account_form_box select,
.account_form_box input,
.account_contents > span,
.customer .account_contents > button{
  text-align: left;
  display: block;
  border:none;
  border-bottom : 1px solid #fff;
  width : 100%;
  padding : 7px 0;
  background-color: transparent;
}

.account_form_box .account_buttons{
  display : flex;
  gap: 20px;
  padding : 7px 0;
  border-bottom: 1px solid #fff;
}
.account_error_box, .account_message {
  padding : 7px 0;
  border-bottom: 1px solid #fff;
}
.account_error_box span{
  display: block;
  color: #FF0000;
  text-align: left;
}
.account_message span{
  display: block;
  color: #00FF00;
  text-align: left;
}
.customer .account_checkbox{
  display: flex;
  justify-content:space-between;
  padding : 7px 0;
  border-bottom: 1px solid #fff;
}
.customer .account_checkbox input{
  width: auto;
}

/* 동의 체크박스 스타일 */
.customer input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  box-shadow: none;
  border: none;
  transition: background-color 0.3s ease;
  position: relative;
  cursor: pointer;
}

.customer input[type="checkbox"]::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border : 1px solid #fff;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.customer input[type="checkbox"]:checked::before {
  content: "";
  background-color: #fff;
}
.customer a{
  color: #fff;
}
.customer button {
  background: inherit ; 
  border:none; 
  box-shadow:none; 
  border-radius:0; 
  padding:0; 
  overflow:visible; 
  cursor:pointer;
}

.customer ul {
  line-height: calc(1 + 0.6 / var(--font-body-scale));
  padding-left: 4.4rem;
  text-align: left;
  margin-bottom: 4rem;
}

/* 주소 추가 팝업 */
.addressPop{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 7px;
  background-color: #000;
  z-index: 10;
}
.customer .close_add{
 position: absolute;
 top: 7px;
 right:10px;
}

.customer .submit_add_address{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 7px;
    width: 100%;
    height: 34px;
    border-top: 1px solid #fff;
    text-align: center;
}

/* Pagination */
.customer .pagination {
  margin-top: 5rem;
  margin-bottom: 7rem;
}

@media screen and (min-width: 990px) {
  .customer .pagination {
    margin-top: 7rem;
    margin-bottom: 10rem;
  }
}

.customer .pagination ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.customer .pagination li {
  flex: 1 1;
  max-width: 4rem;
}

.customer .pagination li:not(:last-child) {
  margin-right: 1rem;
}

.customer .pagination li :first-child {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 4rem;
  width: 100%;
  padding: 0;
  text-decoration: none;
}

.customer .pagination li :first-child svg {
  height: 0.6rem;
}

.customer .pagination li:first-of-type svg {
  margin-left: -0.2rem;
  transform: rotate(90deg);
}

.customer .pagination li:last-of-type svg {
  margin-right: -0.2rem;
  transform: rotate(-90deg);
}

.customer .pagination li [aria-current]::after {
  content: '';
  display: block;
  width: 2rem;
  height: 0.01rem;
  position: absolute;
  bottom: 0.08rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: currentColor;
}

/* Login */
.login a {
  display: block;
/*   margin: 0 auto; */
  width: fit-content;
}

.login a[href='#recover'] {
  margin-left: 0;
  margin-right: 0;
}

.login .field + a {
  margin-top: 1rem;
}

.login p {
  margin: 1.5rem 0;
}

.login h3 {
  margin-top: 1.5rem;
  text-align: left;
  font-size: calc(var(--font-heading-scale) * 1.6rem);
}

#customer_login_guest button {
  margin-top: 0;
}

#recover,
#recover + div {
  display: none;
}

/* #recover:target {
  display: block;
} */

#recover:target + div {
  display: block;
}

#recover:target ~ #login,
#recover:target ~ #login + div {
  display: none;
}

#recover,
#login {
  scroll-margin-top: 20rem;
}

#recover {
  margin-bottom: 0;
}


@media only screen and (min-width: 750px) {
  .activate button[name='decline'] {
    margin-top: inherit;
    margin-left: 1rem;
  }
}



.order > div:nth-of-type(2) > div:first-of-type h2 ~ p:last-of-type {
  margin-bottom: 3rem;
}

.order .item-props {
  font-size: 1.4rem;
  margin-top: 0.05px;
  display: flex;
  flex-direction: column;
}

.order .item-props > span {
  word-break: break-all;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
}

.order .fulfillment {
  width: fit-content;
  border: 0.01rem solid rgba(var(--color-foreground), 0.2);
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1.4rem;
  text-align: left;
}

.order .fulfillment a {
  margin: 0.7rem 0;
}

.order .fulfillment span {
  display: block;
}

.order .cart-discount {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

@media screen and (min-width: 750px) {
  .order td .cart-discount {
    display: none;
  }
}

.order tbody ul {
  list-style: none;
  font-size: 1.2rem;
  text-align: right;
  padding-left: 0;
  margin-top: 1rem;
  margin-bottom: 0;
}

@media screen and (min-width: 750px) {
  .order tbody ul {
    text-align: left;
  }
}


.order .properties {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.order .properties span {
  display: block;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
}


.order .unit-price {
  font-size: 1.1rem;
  letter-spacing: 0.07rem;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
  margin-top: 0.2rem;
  text-transform: uppercase;
  color: rgba(var(--color-foreground), 0.7);
}

.order .regular-price {
  font-size: 1.3rem;
}

/* Addresses */
.addresses .default_title{
  display: block;
  margin-bottom: 30px;
}
.addresses .address_list,
.customer .order_list{
  margin: 0;
  padding:0;
  border-top:1px solid #fff;
}
.addresses .address_list li,
.customer .order_list li{
  padding: 7px 0;
  position: relative;
  border-bottom: 1px solid #fff;
}
.customer .order_list li span {
  display: block;
}
.addresses .address_list li:last-child{
  border-bottom: none;
}
.addresses .address_list li .button_set,
.order_list li .button_set{
  position:absolute;
  top: 7px;
  right: 0;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 5px;
}
.addresses .address_list li p{
  margin: 0;
  padding: 0;
}
.addresses li > button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.addresses li > button + button,
.addresses form button + button {
  margin-top: 0rem;
}

@media screen and (min-width: 750px) {
  .addresses li > button:first-of-type {
    margin-top: 3rem;
  }
}

.addresses form button:first-of-type {
  margin-right: 1rem;
}

label[for='AddressCountryNew'],
label[for='AddressProvinceNew'] {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
}

.addresses form {
  display: flex;
  flex-flow: row wrap;
}

.addresses form > div {
  width: 100%;
  text-align: left;
}

.addresses ul {
  list-style: none;
  padding-left: 0;
  text-align: left;
}

.addresses [aria-expanded='false'] ~ div[id] {
  display: none;
}

.addresses [aria-expanded='true'] ~ div[id] {
  display: block;
}

/* input 스타일 */
input placeholder{
  color: #959595;
}

input[aria-invalid="true"] placeholder{
  color: #ff0000;
}
select:focus,
select:hover,
select:active,
input:focus,
input:hover,
input:active {
  outline: none !important;
  box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color : transparent !important; 
	-webkit-text-fill-color: #fff;
     box-shadow: 0 0 0 0 rgb(var(--color-background)) inset !important;
    -webkit-box-shadow: 0 0 0 0 rgb(var(--color-background)) inset !important;
    transition: background-color 5000s ease-in-out 0s;
    font-size : 22px;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
    background-color : transparent !important; 
	-webkit-text-fill-color: #fff;
    box-shadow: 0 0 0 0 rgb(var(--color-background)) inset !important;
    -webkit-box-shadow: 0 0 0 0 rgb(var(--color-background)) inset !important;
    transition: background-color 5000s ease-in-out 0s;
    font-size : 22px;
}

@media screen and (max-width: 1024px) {
  input:autofill,
  input:autofill:hover,
  input:autofill:focus,
  input:autofill:active {
    font-size : 19px;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    font-size : 19px;
  }
}

