<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
<div class="info-page">
    <div class="info-page-title">
        Information
    </div>
    <div class="info-inner">
        <div class="info-col info-col--w">
            <div class="info-list">
                <div class="info-item">
                    <div class="info-title">About</div>
                    <div class="info-content">
                        <p>
                            Post Poetics is an independent artbook distributor and a bookstore based in Seoul, South
                            Korea. Established in 2006, Post Poetics works with various publishers throughout the world
                            and distributes publications on art, architecture, design, photography, fashion and culture.
                            <br><br>
                            포스트 포에틱스는 2006년 서울에 설립되었다. 전세계 200여곳의 크고 작은 출판사와 거래하며, 미술, 건축, 디자인, 사진, 패션, 문화 등을 다루는 다양한
                            서적을 소개하고 있다. 동명의 서점을 온, 오프라인에서 운영하는 동시에, 서점, 편집 매장과 같은 상업 공간은 물론 도서관, 기업 및 기관의 자료실, 개인 서재 등
                            의뢰에 따라 책을 제안하고 공급하고 있다.
                        </p>
                        <div class="info-img-wrap info-img-wrap--pc" style="padding-bottom: 10px;">
                            <img src="https://cdn.shopify.com/s/files/1/0702/4522/0637/files/PP_684-1_Low-33.jpg?v=1689141003"
                                 alt="">
                            <img src="https://cdn.shopify.com/s/files/1/0702/4522/0637/files/PP_684-1_Low-40.jpg?v=1689141003"
                                 alt="">
                            <img src="https://cdn.shopify.com/s/files/1/0702/4522/0637/files/PP_684-1_Low-32.jpg?v=1689141003"
                                 alt="">
                            <img src="https://cdn.shopify.com/s/files/1/0702/4522/0637/files/PP_684-1_Low-37.jpg?v=1689141004"
                                 alt="">
                        </div>
                        <div class="info-img-wrap--m" style="padding-bottom: 7px;">
                            <div class="swiper info-image">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="https://cdn.shopify.com/s/files/1/0702/4522/0637/files/PP_684-1_Low-8.jpg?v=1686297087">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="https://cdn.shopify.com/s/files/1/0702/4522/0637/files/PP_684-1_Low-13.jpg?v=1686297087">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="https://cdn.shopify.com/s/files/1/0702/4522/0637/files/PP_684-1_Low-29.jpg?v=1686297087">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="https://cdn.shopify.com/s/files/1/0702/4522/0637/files/PP_684-1_Low-4.jpg?v=1686297087">
                                    </div>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-item">
                    <div class="info-title">Contact</div>
                    <div class="info-content">
                        <div class="info-img-wrap" style="padding-bottom: 3px;">
                            <img src="https://cdn.shopify.com/s/files/1/0702/4522/0637/files/pp_office_low_d76eefc6-0f78-4f6e-919a-477e94b779b2.jpg?v=1688460181"
                                 alt="">
                        </div>
                        <p style='margin-bottom: 30px;'>
                            Office<br>
                            31-1 Sowol-ro Jung-gu Seoul 04635<br>
                            +82 (0)2 322 7024<br>
                            <a href="mailto:office@postpoetics.kr">office@postpoetics.kr</a>
                        </p>
                        <div class="info-img-wrap" style="padding-bottom: 3px;">
                            <img src="https://cdn.shopify.com/s/files/1/0702/4522/0637/files/PP_684-1_Low-4.jpg?v=1686297087"
                                 alt="">
                        </div>
                        <p>
                            Shop<br>
                            19 Itaewon-ro 54-gil Yongsan-gu Seoul 04400<br>
                            +82 (0)2 322 7023<br>
                            <a href="mailto:shop@postpoetics.kr">shop@postpoetics.kr</a>

                        </p>
                        <p>
                            <br>
                            Distribution inquiries<br>
                            <a href="mailto:sj@postpoetics.kr">sj@postpoetics.kr</a><br>
                            <br>
                            Social media<br>
                            <a href="https://www.instagram.com/postpoetics/" target="_blank">@postpoetics</a>
                        </p>
                    </div>
                </div>
                <div class="info-item">
                    <div class="info-title">Pop</div>
                    <div class="info-content">
                        <p>
                            Pop is a project space organized by Post Poetics.
                        </p>
                        <div class="info-img-wrap info-img-wrap--pc" style="margin-top: 30px; padding-bottom: 3px; border-bottom: 1.3px;">
                            <img src="https://cdn.shopify.com/s/files/1/0702/4522/0637/files/Pop_Namsan_Low-2.jpg?v=1687479048">
                            <img src="https://cdn.shopify.com/s/files/1/0702/4522/0637/files/Pop_Namsan_Low-3.jpg?v=1687479055">
                        </div>
                        <div class="info-img-wrap--m" style="margin-top: 30px;">
                            <div class="swiper info-image">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="https://cdn.shopify.com/s/files/1/0702/4522/0637/files/Pop_Namsan_Low-2.jpg?v=1687479048">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="https://cdn.shopify.com/s/files/1/0702/4522/0637/files/Pop_Namsan_Low-3.jpg?v=1687479055">
                                    </div>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                        <p style="margin-bottom: 30px;">
                            Pop Namsan<br>
                            31-1 Sowol-ro Jung-gu Seoul 04635<br>
                            <a href="http://pop.postpoetics.kr/pop_namsan_information_2023.pdf" target="_blank">More information</a>
                        </p>
                        <div class="info-img-wrap info-img-wrap--pc" style="padding-bottom: 3px; border-bottom: 1.3px;">
                            <img src="https://cdn.shopify.com/s/files/1/0702/4522/0637/files/Pop_Manual_Low-1.jpg?v=1687479034">
                            <img src="https://cdn.shopify.com/s/files/1/0702/4522/0637/files/Pop_Manual_Low-3.jpg?v=1687479035">
                        </div>
                        <div class="info-img-wrap--m">
                            <div class="swiper info-image">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="https://cdn.shopify.com/s/files/1/0702/4522/0637/files/Pop_Manual_Low-1.jpg?v=1687479034">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="https://cdn.shopify.com/s/files/1/0702/4522/0637/files/Pop_Manual_Low-3.jpg?v=1687479035">
                                    </div>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                        <p>
                            Pop Hannam<br>
                            240 Itaewon-ro Yongsan-gu Seoul 04400<br>
                            <a href="http://pop.postpoetics.kr/pop_hannam_information_2023.pdf" target="_blank">More information</a>
                        </p>
                        <p style="padding-top: 30px;">
                            Rental inquiries<br>
                            <a href="mailto:pop@postpoetics.kr">pop@postpoetics.kr</a>
                            <br><br>
                            Social media<br>
                            <a href="https://www.instagram.com/pop.postpoetics/" target="_blank">@pop.postpoetics</a>

                        </p>
                    </div>
                </div>
                <div class="info-item">
                    <div class="info-title">Stockists</div>
                    <div class="info-content">
                        8DIVISION<br>
                        Bourie<br>
                        Chapter 1<br>
                        Comfort<br>
                        Editori<br>
                        Eternal Journey<br>
                        Everyday Mooonday<br>
                        FF Collective<br>
                        Ghost Books<br>
                        Goof<br>
                        Gray Library<br>
                        Heights Exchange<br>
                        Heights Store<br>
                        Holiday<br>
                        Hpix<br>
                        Hyehaus<br>
                        Khakis<br>
                        Kitty Bunny Pony<br>
                        LCDC<br>
                        Leeum Museum of Art<br>
                        Lost & Found<br>
                        Luft Mansion<br>
                        MMK<br>
                        MMMG<br>
                        My Allee<br>
                        Nice Weather<br>
                        Not Just Books<br>
                        Obscura<br>
                        Ranee & Company<br>
                        Ready to Wellness<br>
                        Sehwa Museum<br>
                        Shop Amomento<br>
                        Shop EPP<br>
                        Shop Piknic<br>
                        Slow Steady Club<br>
                        Sounds Good Store<br>
                        Studio Concrete<br>
                        The Childhood Home<br>
                        The Conran Shop<br>
                        Tigrapher<br>
                        TWL<br>
                        Warped Shop<br>
                        Welcome Records<br>
                        XYTS<br>
                    </div>
                </div>
                <div class="info-item">
                    <div class="info-title">Clients</div>
                    <div class="info-content">
                        Cociety<br>
                        Debunk<br>
                        F1963 Library<br>
                        GNC Media<br>
                        Hybe Co., Ltd.<br>
                        Hyundai Motor Company<br>
                        Jae Huh & Co<br>
                        Kinfolk Dosan<br>
                        Naver Library<br>
                        Platz<br>
                        Ryse Hotel<br>
                        Seoul Design Foundation<br>
                        Whatreallymatters<br>
                    </div>
                </div>
                <div class="info-item">
                    <div class="info-title">Job</div>
                    <div class="info-content">
                        <p>
                            We currently do not have any job openings available, but we are always on the lookout for new and enthusiastic individuals to join our growing team.
                        </p>
                        <p>
                            <br>
                            Job inquiries<br>
                            <a href="mailto:" job@postpoetics.kr>job@postpoetics.kr</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-col">
            <div class="info-list">
                <div class="info-item">
                    <div class="info-title">FAQ</div>
                    <div class="info-content"> 
Shipping<br>
For domestic orders, shipping is handled through CJ Logistics. The shipping fee is 4,000 KRW, and free shipping is available for purchases of 70,000 KRW or more.<br>
For international orders, shipping is done through DHL. The shipping fee is determined based on the weight of the book and the shipping destination.<br><br>

Exchange and Refund<br>
To initiate a return, please contact customer service within 48 hours of receiving the product, and the item must arrive within 7 days for the return to be processed.<br>
In the case of exchange or cancellation due to a simple change of mind, the round-trip shipping fee will be the customer's responsibility.<br>
If there is a shipping error or defect caused by the company, exchanges and refunds are possible, and the shipping fee will be covered by the company.<br>
In cases where the packaging has been opened or the product has been damaged, resulting in a loss of value, exchanges and refunds may be difficult.<br>
For exchanges and refunds regarding international orders, please contact customer service.<br><br>

Customer Service<br>
Monday to Friday, 10:00 AM to 6:00 PM (lunch break: 11:30 AM to 1:00 PM)<br>
Phone: 02 322 7024<br>
Email: <a href="mailto:shop@postpoetics.kr">shop@postpoetics.kr</a>
<br><br>
배송<br>
국내 주문 시 CJ대한통운을 통해 배송됩니다. 배송비는 4,000원이며, 7만원 이상 구매 시 무료 배송됩니다.<br>
국외 주문 시 DHL을 통해 배송됩니다. 배송비는 책의 무게, 주문 지역에 따라 책정됩니다. <br><br>

교환 및 환불<br>
상품 수령 후 48시간 이내 고객 센터를 통해 반품 접수를 하고, 상품이 7일 이내에 도착해야 처리가 가능합니다.<br>
단순 변심으로 교환 및 취소 시 왕복 택배비는 고객 부담입니다. <br>
업체의 착오로 오배송되거나 하자가 있을 시에는 교환 및 환불이 가능하며 배송비는 업체에서 부담합니다.<br>
포장을 개봉하였거나 상품이 훼손되어 상품 가치가 상실된 경우에는 교환 및 환불이 어렵습니다. <br>
국외 주문 건의 교환 및 환불은 고객센터에 문의 바랍니다.<br><br>

고객 센터<br>
월요일–금요일 10–18시 (점심시간 11:30–13:00)<br>
02 322 7024 <br>
<a href="mailto:shop@postpoetics.kr">shop@postpoetics.kr</a><br><br>

                    </div>
                </div>
                <div class="info-item">
                    <div class="info-title">Newsletter</div>
                    <div class="info-content">
                      Sign up for our latest news.<br/>By subscribing, you agree to Post Poetics' privacy policy.
                      {% render 'newsletter',
                      %}
                    </div>
                </div>
                <div class="info-item">
                    <a class="info-title-2" href="http://postpoeticsweb.cafe24.com/ppwp/wp-content/uploads/2020/05/pp_termcondition.pdf" target="_blank">
                      Terms and conditions
                    </a>
                </div>
                <div class="info-item">
                    <a class="info-title-2" href="http://postpoeticsweb.cafe24.com/ppwp/wp-content/uploads/2020/05/pp_privacypolicy.pdf" target="_blank">
                      Privacy policy
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".info-image", {
        loop: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
    });
</script>
<script>
    window.onload = function () {
        document.body.classList.add('theme-black');
    };

    // document.querySelectorAll('.info-title').forEach(function (label) {
    //     label.addEventListener('click', function () {
    //         if (!this.classList.contains('on')) {
    //             document.querySelectorAll('.info-title').forEach(function (el) {
    //                 el.classList.remove('on');
    //             });
    //             document.querySelectorAll('.info-content').forEach(function (el) {
    //                 el.style.display = 'none';
    //             });
    //             this.classList.add('on');
    //             this.nextElementSibling.style.display = 'block';
    //         } else {
    //             this.classList.remove('on');
    //             this.nextElementSibling.style.display = 'none';
    //         }
    //     });
    // });

    $('.info-title').on('click', function () {
        if (!$(this).hasClass('on')) {
            $('.info-title').removeClass('on');
            $('.info-content').slideUp();
            $(this).addClass('on');
            $(this).siblings('.info-content').slideDown();
        } else {
            $(this).removeClass('on');
            $(this).siblings('.info-content').slideUp();
        }
    });

</script>