<div class="info-page">
    <div class="info-page-title">
        Information
    </div>
    <div class="info-inner">
        <div class="info-col info-col--w">
            <div class="info-list">
                <div class="info-item">
                    <div class="info-title">About</div>
                    <div class="info-content">
                        <p>
                            Post Poetics is an independent artbook distributor and a bookstore based in Seoul, South
                            Korea. Established in 2006, Post Poetics works with various publishers throughout the world
                            and distributes publications on art, architecture, design, photography, fashion and culture.
                            <br><br>
                            포스트 포에틱스는 2006년 서울에 설립되었다. 전세계 200여곳의 크고 작은 출판사와 거래하며, 미술, 건축, 디자인, 사진, 패션, 문화 등을 다루는 다양한
                            서적을 소개하고 있다. 동명의 서점을 온, 오프라인에서 운영하는 동시에, 서점, 편집 매장과 같은 상업 공간은 물론 도서관, 기업 및 기관의 자료실, 개인 서재 등
                            의뢰에 따라 책을 제안하고 공급하고 있다.
                        </p>
                        <div class="info-img-wrap">
                            <img src="https://cdn.shopify.com/s/files/1/0702/4522/0637/files/PP_684-1_Low-8.jpg?v=1686297087"
                                 alt="">
                            <img src="https://cdn.shopify.com/s/files/1/0702/4522/0637/files/PP_684-1_Low-13.jpg?v=1686297087"
                                 alt="">
                            <img src="https://cdn.shopify.com/s/files/1/0702/4522/0637/files/PP_684-1_Low-29.jpg?v=1686297087"
                                 alt="">
                            <img src="https://cdn.shopify.com/s/files/1/0702/4522/0637/files/PP_684-1_Low-4.jpg?v=1686297087"
                                 alt="">
                        </div>
                    </div>
                </div>
                <div class="info-item">
                    <div class="info-title">Contact</div>
                    <div class="info-content">
                        <p>
                            Office<br>
                            31-1 Sowol-ro Jung-gu Seoul 04635<br>
                            +82 (0)2 322 7024<br>
                            <a href="mailto:office@postpoetics.kr">office@postpoetics.kr</a>
                        </p>
                        <div class="info-img-wrap">
                            <img src=""
                                 alt="">
                        </div>
                        <p>
                            Shop<br>
                            19 Itaewon-ro 54-gil Yongsan-gu Seoul 04400<br>
                            +82 (0)2 322 7023<br>
                            <a href="mailto:shop@postpoetics.kr">shop@postpoetics.kr</a>
                        </p>
                        <div class="info-img-wrap">
                            <img src="https://cdn.shopify.com/s/files/1/0702/4522/0637/files/PP_684-1_Low-4.jpg?v=1686297087"
                                 alt="">
                        </div>
                        <p>
                            Distribution inquiries<br>
                            <a href="mailto:sj@postpoetics.kr">sj@postpoetics.kr</a><br>
                            <br>
                            Social media<br>
                            <a href="" target="_blank">@postpoetics</a>
                        </p>
                    </div>
                </div>
                <div class="info-item">
                    <div class="info-title">Pop</div>
                    <div class="info-content">
                        <p>
                            Pop is a project space organized by Post Poetics.
                            <br><br>
                            Pop Namsan<br>
                            31-1 Sowol-ro Jumg-gu Seoul<br>
                            <a href="http://pop.postpoetics.kr/pop_namsan_information_2023.pdf" target="_blank">More information</a>
                        </p>
                        <div class="info-img-wrap">
                            <img src=""
                                 alt="">
                            <img src=""
                                 alt="">
                        </div>
                        <p>
                            Pop Hannam<br>
                            240 Itaewon-ro Yongsan-gu Seoul<br>
                            <a href="http://pop.postpoetics.kr/pop_hannam_information_2023.pdf" target="_blank">More information</a>

                        </p>
                        <div class="info-img-wrap">
                            <img src=""
                                 alt="">
                            <img src=""
                                 alt="">
                        </div>
                        <p>
                            Rental inquiries<br>
                            <a href="mailto:pop@postpoetics.kr">pop@postpoetics.kr</a>
                            <br><br>
                            Social media<br>
                            <a href="" target="_blank">@pop.postpoetics</a>

                        </p>
                    </div>
                </div>
                <div class="info-item">
                    <div class="info-title">Stockists</div>
                    <div class="info-content">
                        Cociety<br>
                        Debunk<br>
                        F1963 Library<br>
                        GNC Media<br>
                        Hybe Co., Ltd.<br>
                        Hyundai Motor Company<br>
                        Jae Huh & Co<br>
                        Kinfolk Dosan<br>
                        Naver Library<br>
                        Platz<br>
                        Ryse Hotel<br>
                        Seoul Design Foundation<br>
                        Whatreallymatters<br>
                        8DIVISION<br>
                        Bourie<br>
                        Chapter 1<br>
                        Comfort<br>
                        Editori<br>
                        Eternal Journey<br>
                        Everyday Mooonday<br>
                        FF Collective<br>
                        Ghost Books<br>
                        Goof<br>
                        Gray Library<br>
                        Heights Exchange<br>
                        Heights Store<br>
                        Holiday<br>
                        Hpix<br>
                        Hyehaus<br>
                        Khakis<br>
                        Kitty Bunny Pony<br>
                        LCDC<br>
                        Leeum Museum of Art<br>
                        Lost & Found<br>
                        Luft Mansion<br>
                        MMK<br>
                        MMMG<br>
                        My Allee<br>
                        Nice Weather<br>
                        Not Just Books<br>
                        Obscura<br>
                        Ranee & Company<br>
                        Ready to Wellness<br>
                        Sehwa Museum<br>
                        Shop Amomento<br>
                        Shop EPP<br>
                        Shop Piknic<br>
                        Slow Steady Club<br>
                        Sounds Good Store<br>
                        Studio Concrete<br>
                        The Childhood Home<br>
                        The Conran Shop<br>
                        Tigrapher<br>
                        TWL<br>
                        Warped Shop<br>
                        Welcome Records<br>
                        XYTS<br>
                    </div>
                </div>
                <div class="info-item">
                    <div class="info-title">Clients</div>
                    <div class="info-content">
                        Cociety<br>
                        Debunk<br>
                        F1963 Library<br>
                        GNC Media<br>
                        Hybe Co., Ltd.<br>
                        Hyundai Motor Company<br>
                        Jae Huh & Co<br>
                        Kinfolk Dosan<br>
                        Naver Library<br>
                        Platz<br>
                        Ryse Hotel<br>
                        Seoul Design Foundation<br>
                        Whatreallymatters<br>
                    </div>
                </div>
                <div class="info-item">
                    <div class="info-title">Job</div>
                    <div class="info-content">
                        <p>
                            We currently have no job openings available but are always looking to meet new and enthusiastic individuals to join our growing team.
                        </p>
                        <p>
                            <br>
                            Job inquiries<br>
                            <a href="mailto:" job@postpoetics.kr>job@postpoetics.kr</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-col">
            <div class="info-list">
                <div class="info-item">
                    <div class="info-title">FAQ</div>
                    <div class="info-content"></div>
                </div>
                <div class="info-item">
                    <div class="info-title">Newsletter</div>
                    <div class="info-content">
                      Sign up for our latest news.<br/>By subscribing, you can agree to Post Poetics' privacy policy.
                      {% render 'newsletter',
                      %}
                    </div>
                </div>
                <div class="info-item">
                    <div class="info-title">Terms and conditions</div>
                    <div class="info-content">
                        <a href="http://postpoeticsweb.cafe24.com/ppwp/wp-content/uploads/2020/05/pp_termcondition.pdf" target="_blank">read more</a>
                    </div>
                </div>
                <div class="info-item">
                    <div class="info-title">Privacy policy</div>
                    <div class="info-content">
                        <a href="http://postpoeticsweb.cafe24.com/ppwp/wp-content/uploads/2020/05/pp_privacypolicy.pdf" target="_blank">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script>
    window.onload = function () {
        document.body.classList.add('theme-black');
    };

    // document.querySelectorAll('.info-title').forEach(function (label) {
    //     label.addEventListener('click', function () {
    //         if (!this.classList.contains('on')) {
    //             document.querySelectorAll('.info-title').forEach(function (el) {
    //                 el.classList.remove('on');
    //             });
    //             document.querySelectorAll('.info-content').forEach(function (el) {
    //                 el.style.display = 'none';
    //             });
    //             this.classList.add('on');
    //             this.nextElementSibling.style.display = 'block';
    //         } else {
    //             this.classList.remove('on');
    //             this.nextElementSibling.style.display = 'none';
    //         }
    //     });
    // });

    $('.info-title').on('click', function () {
        if (!$(this).hasClass('on')) {
            $('.info-title').removeClass('on');
            $('.info-content').slideUp();
            $(this).addClass('on');
            $(this).siblings('.info-content').slideDown();
        } else {
            $(this).removeClass('on');
            $(this).siblings('.info-content').slideUp();
        }
    });

</script>